body {
  margin: 0;
  font-family:Microsoft Sans Serif ;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background:RGB(213, 134, 247); */
  background-image: url('./images/industry.png');
  background-repeat: no-repeat; 
  background-size: cover;
  
  
  
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
cursor: pointer;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.right {
  transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
}

.homeComp{
  /*background:RGB(213, 134, 247); /* #D586F7 */
  background: #b499c7;
  font-family:Microsoft Sans Serif ;
  
}

.login_card_left{
  background-image: url('./images/login_card.png');
  background-position-x: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.special_modal {
  background-color: transparent !important;
}

.add_icon:hover {
  background-color: #7cfa97; 
  cursor:'pointer';
}

.remove_icon:hover {
  background-color: #f12d2d; 
  cursor:'pointer';
}

.tooltipHeadLogin:before {
  content: "";
  position: absolute;
  border-top: 15px solid #363062;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 100%;
  left: 45%;
  margin-left: -5px;
  margin-top: -5px;
}

.headerLink a {
  color: black;
  text-decoration: none;
}

.menuItemHeader {
  border-bottom: 3px solid transparent;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.menuItemHeader:hover, .menuItemHeader:focus {
  background-color: transparent !important;
}

.menuItemHeader .headerHoverHightlight {
  visibility: hidden;
  /* width: 40px; */
  height: 5px;
  background: #B499C7;
  border-radius: 20px;
}

.menuItemHeader:hover .headerHoverHightlight {
  visibility: visible;
}

.menuItemHeader .headerHoverHightlightTop {
  visibility: hidden;
  /* width: 40px; */
  margin-top: 5px;
  height: 5px;
  background: #B499C7;
  border-radius: 20px;
}

.menuItemHeader.activePage:before {
  content: "";
  position: absolute;
  border-top: 15px solid #ffffff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 108%;
  left: 35%;
  margin-left: -5px;
  margin-top: -5px;
}

.signInButtonArrow {
  color: #a1a3ee;
  font-size: 32px;
  /* width: 220px; */
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  visibility: hidden;
}

.signInButtonArrow{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.signInButtonArrow:after {
  content: url("./images/arrow.svg");
  position: absolute;
  opacity: 0;  
  top: -18px;
  right: -80px;
  transition: 0.5s;
}

.signInButton:hover .signInButtonArrow{
  padding-right: 24px;
  padding-left:8px;
  visibility: visible;
}

.signInButton:hover .signInButtonArrow:after {
  opacity: 1;
  right: -10px;
}






.signUpButtonArrow {
  color: #a1a3ee;
  font-size: 32px;
  /* width: 220px; */
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  visibility: hidden;
}

.signUpButtonArrow{
  cursor: pointer;
  display: inline-block;
  position: absolute;
  transition: 0.5s;
}

.signUpButtonArrow:after {
  content: url("./images/arrow.svg");
  position: absolute;
  opacity: 0;  
  top: -50px;
  right: -60px;
  transition: 0.5s;
}

.signUpButton:hover .signUpButtonArrow{
  padding-right: 24px;
  padding-left:8px;
  visibility: visible;
}

.signUpButton:hover .signUpButtonArrow:after {
  opacity: 1;
  right: -10px;
}

.workflowCircle {
  height: 150px;
  width: 150px;
  background-color: #8ee926;
  border-radius: 50%;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workflowCircle:hover {
  box-shadow: 5px 5px #d5bae8;
}


.content {
  font-weight: 300;
  margin: 30px auto 40px;
  padding: 30px;
  background: white;
  color: black;
  width: 400px;
  
  opacity: 0;
  visibility: hidden;
  
  transition: all 300ms cubic-bezier(0.335, 0.010, 0.030, 1.360);
  position: relative;
  top: -15px;
}

.content.open {
  opacity: 1;
  visibility: visible;
  top: 0;
}
